/* Style for the JobItem */

.job-item {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px rgba(204, 204, 204, 1);
  transition: box-shadow, transform 0.5s ease;
}

.job-item:hover {
  box-shadow: 0px 0px 5px 5px rgba(204, 204, 204, 1);
  transform: scale(0.95);
}

.job-item-body {
  align-content: space-around;
}

.job-item h2 {
  margin: 10px 0;
}

.job-item-description {
  margin-bottom: 10px;
  font-size: 12px;
}

.job-item-price {
  font-weight: bold;
  font-size: 13px;
}

.job-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
}

@media (max-width: 767.98px) {
  .job-item-detail {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 767.98px) {
  .job-item {
    max-width: 100%;
  }
}

body {
    background-color: rgb(240, 240, 255);
}